.bg {
    background-color: rgba(238, 238, 238, 0.6) !important;
    /* The image used */
    background-image: url("https://lh3.googleusercontent.com/5yelNIVBwHGXIK3m78AajvtgT52XAMFq3Y1zGEpheBgUvhBJGk_8_1L1ox0bvMA9g7z2PC5ugR69nWZVQHUV7ykti7AsXAusdWQVIffspeoMAiXKmwcQhXSP4u5-4bQTOKdsplgPeEU=w600-h315-p-k");
    background-blend-mode: color;

    /* Full height */
    height: 70%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}


.navbar-brand-special {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top:2px;
}



body { 
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 



.name {
    position:absolute;
    /* width:60%; */
    left: 0;
    bottom:0;
    text-align:center;
    white-space: nowrap;
}

.tablecenter {
    margin-left: auto;
    margin-right: auto;
}


.header {
    background-image: url('https://cdn.onebauer.media/one/empire-tmdb/films/2062/images/sFpGI08aeHIRKlLi9SxLyYrRyZ8.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg');
    min-height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.icon {
    width: 50px;
    height: 50px;
}

p {
    font-family: futura-pt,sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}

h1 {
    font-family: futura-pt,sans-serif;
    font-weight: 1000;
    font-style: normal;
}

h2 {
    font-family: futura-pt,sans-serif;
    font-weight: 1000;
    font-style: normal;
}

nav {
    font-family: futura-pt,sans-serif;
    font-weight: 800;
    font-size: 17px;
    font-style: normal;
}

#map {
    height: 100%;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -27px !important;
    display: inline-block;
}

