.bg {
    background-color: rgba(238, 238, 238, 0.6) !important;
    /* The image used */
    background-image: url("https://cnet2.cbsistatic.com/img/pqMNivDFv4UNp-duxILUN57iufw=/940x0/2018/01/24/b7f772ff-e3ec-4378-b48f-9719c3fff1b5/image-w1280.jpg");
    background-blend-mode: color;

    /* Full height */
    height: 70%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header {
    background-image: url('https://cdn.onebauer.media/one/empire-tmdb/films/2062/images/sFpGI08aeHIRKlLi9SxLyYrRyZ8.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg');
    min-height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.icon {
    width: 50px;
    height: 50px;
}

p {
    font-family: futura-pt,sans-serif;
    font-weight: 1000;
    font-size: 20px;
    font-style: normal;
}

h1 {
    font-family: futura-pt,sans-serif;
    font-weight: 1000;
    font-style: normal;
}

nav {
    font-family: futura-pt,sans-serif;
    font-weight: 800;
    font-size: 15px;
    font-style: normal;
}